<!DOCTYPE html>
<html>
	<head>
		<title>Gas Station Preferences</title>
		<link rel="stylesheet" type="text/css" href="css/gasstation.css">
	</head>
	<h2>Gas Station Preferences</h2>
	<body id="body-color">
		<div class="preferences">
			<p>
				In order to allow the app to suggest relavent information to you, please select the Gas Brands and Type of Gas
			</p>
			<h3>Gas Brand</h3>
			<div style="display: none" id="uid">{{this.userID}}</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="brand" id="BP"/>BP
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="chevron"/>Chevron
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="circlek"/>Circle K
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="citgo"/>Citgo
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="costco"/>Costco
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="cumberland"/>Cumberland Farms
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="exxon"/>Exxon
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="frontier"/>Frontier
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="gulf"/>Gulf
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="kum"/>Kum & Go
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="kwik"/>Kwik Trip
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="mobil"/>Mobil
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="race"/>RaceTrac/RaceWay
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="shell"/>Shell
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="sams"/>Sam's Club
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="speedway"/>Speedway
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="sunoco"/>Sunoco
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="wawa"/>Wawa
					<br \>
				</label>
			</div>
			<div class="gasstation">
				<label>
					<input type="checkbox" name="gasstation" id="seven"/>7-11
					<br \>
				</label>
			</div>
			<h3>Fuel Type</h3>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="methanol"/>Methanol
					<br \>
				</label>
			</div>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="gasoline"/>Gasoline
					<br \>
				</label>
			</div>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="diesel"/>Diesel
					<br \>
				</label>
			</div>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="hydrogen"/>Hydrogen
					<br \>
				</label>
			</div>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="charge"/>Charging Station
					<br \>
				</label>
			</div>
			<div class="gastype">
				<label>
					<input type="checkbox" name="gastype" id="biodiesel"/>Biodiesel
					<br \>
				</label>
			</div>
			<input type="button" value="Submit" id="submit"/>
			<input type="button" value="Skip" id="skip"/>

		</div>
		<script type="text/javascript" src="scripts/gasstation.js"></script>
	</body>
</html>
