<!DOCTYPE HTML>
<html>
	<head>
		<title>Enter Model and Make</title>
		<link rel="stylesheet" type="text/css" href="css/model_and_make.css">
		<body id="body-color">
	</head>
		<h2>Enter Model and Make</h2>
	<body>
		<div class="model-and-make">
			<div>
				Make: 
				<select>
					<option value="toyota">Toyota</option>
					<option value="volkswagen">Volkeswagen</option>
					<option value="nissan">Nissan</option>
					<option value="hyundai">Hyundai</option>
					<option value="ford">Ford</option>
					<option value="honda">Honda</option>
					<option value="bmw">BMW</option>
				</select>
			</div>
			<br \>
			<div>
				Model: 
				<select>
					<option value="cr-v">CR-V</option>
					<option value="civic">Civic</option>
					<option value="accord">Accord</option>
					<option value="highlander">Highlander</option>
					<option value="f-150">F-150</option>
					<option value="rav4">RAV4</option>
					<option value="tacoma">Tacoma</option>
					<option value="camry">Camry</option>
					<option value="explorer">Explorer</option>
					<option value="rogue">Rogue</option>
					<option value="atlas">Atlas</option>
					<option value="corolla">Corolla</option>
					<option value="sonata">Sonata</option>
					<option value="tucson">Tucson</option>
					<option value="edge">Edge</option>
					<option value="polo">Polo</option>
					<option value="golf">Golf</option>
					<option value="3-series">3-Series</option>
					<option value="x5">X5</option>
				</select>
			</div>
			<br \>
			<input type="button" value="Save" id="save">
			<input type="button" value="Cancel" id="cancel">
		</div>
	</body>
</html>

