<!DOCTYPE HTML> 
<html> 
	<head> 
		<title>Sign-In</title> 
		<link rel="stylesheet" type="text/css" href="css/signup.css">
		<script type="text/javascript" src="scripts/functions.js"></script>
	</head> 
	<h2>Road Trip Buddy Sign-Up</h2>
	<body id="body-color"> 
		<div class="signup">
			<input type="email" placeholder="Email" id="email">
			<input type="text" placeholder="Username" id="username">
			<input type="password" placeholder="Password" id="password">
			<input type="password" placeholder="Repeat Password" id="rpt-password">
			<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
			<input type="button" value="Sign Up" id="submit" onclick="addUser()">
		</div>
 	</body> 
</html> 