* {
	font-family: 'Enriqueta', arial, serif;
}

h2 {
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.preferences {
	background: #eceeee;
	border: 1px solid #42464b;
	border-radius: 6px;
	height: 560px;
	margin: 20px auto 0;
	width: 298px;
}

p {
	padding: 5px;
	border-bottom: grey 1px solid;
}

.attractionBox {
	border-bottom: grey 1px solid;
	padding: 5px;
}

input[type="button"] {
	width:240px;
	height:35px;
	display:block;
	font-family:Arial, "Helvetica", sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	text-shadow:1px 1px 0px #37a69b;
	padding-top:6px;
	margin: 29px 0 0 29px;
	position:relative;
	cursor:pointer;
	border: none;  
	background-color: #37a69b;
	background-image: linear-gradient(top,#505958,#3111);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
	
}